nav {
  background-color: white;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.active-link {
  color: #f39c12;
}



.resume-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1; /* Allow it to push right */
  min-width: max-content;
  margin-left: auto;
}

.resume-button a {
  padding: 10px 20px;
  background: linear-gradient(90deg, #f39c12, #ff6f61);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s;
  white-space: nowrap;
}

.resume-button a:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #ff6f61, #f39c12);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  ul {
    justify-content: center;
    flex: 1;
  }

  .resume-button {
    justify-content: center;
    width: 100%; /* Force full width to center */
  }

  .resume-button a {
    padding: 6px 3px;
    font-size: 14px;
    justify-content: end;
  }
}